POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=postgres
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=root
JWT_SECRET_KEY=WorkForceHub-Local-Development-Secret-Key-2026
MEDIA_INTERNAL_API_KEY=dev-media-service-key
